{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">


<div class="background">
    <div class="button-container">
        <a href="/org" class="zoom-button">Organizational Devt. Change</a>
        <a href="/pfm" class="zoom-button">Public Finance Management</a>
        <a href="/research" class="zoom-button">Research Methodologies</a>
        <a href="/corp" class="zoom-button">Corporate Governance</a>
        <a href="/marketing" class="zoom-button">Marketing Mgmt.</a>
        <a href="/egov" class="zoom-button">E-Governance</a>
        <a href="/crm" class="zoom-button">CRM</a>
        <a onclick="showNotification(), showInfo()" id="zoom"
        href="https://flasknotes.blob.core.windows.net/classnotes/BPAL%204.1%20Notes/BPAL%204.1%20Notes.zip"
         class="zoom-button">Download all notes!</a>
        <!---<a href="/project" class="zoom-button">Project</a>--->
    </div>
  </div>




{% endblock%}